doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Recyclotron
    link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/flexslider.css')
    link(rel='stylesheet', href='./stylesheets/jquery.fancybox.css')
    link(rel='stylesheet', href='./stylesheets/main.css')
    link(rel='stylesheet', href='./stylesheets/responsive.css')
    link(rel='stylesheet', href='./stylesheets/animate.min.css')
    link(rel='stylesheet', href='./stylesheets/font-icon.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
    // header top section
    section.banner(role='banner')
      header#header
        .header-content.clearfix
          a(href='./recyclotron') Recyclotron
          nav.navigation(role='navigation')
            ul.primary-nav
              li
                a(href='') Sell 
              li
                a(href='./blog') About Us
              li
                a(href='./ContactUs') Contact Us
              li
                a(href='') Signed Up
          a.nav-toggle(href='#')
            | Menu
            span
    // header top section
    // header content section
    section#hero.section
      .container
        .row
          .col-md-7.col-sm-6.hero
            .hero-content
              h1 Saving Earth Gadget By Gadget 
            // hero
          
    // header content section
    // portfolio grid section
    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            hr.section
        .row
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./phone')
              .caption
                .caption-content
                  h3 Mobile Phones
                  h4 We buy old Mobile Phones
              img.img-responsive(src='images/portfolio/work-1.jpg', alt='')
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./laptop')
              .caption
                .caption-content
                  h3 Laptops
                  h4 We buy old Laptops
              img.img-responsive(src='images/portfolio/work-2.jpg', alt='')
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./desktop')
              .caption
                .caption-content
                  h3 Desktop PCs
                  h4 We buy old these too
              img.img-responsive(src='images/portfolio/work-3.jpg', alt='')
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./tablet')
              .caption
                .caption-content
                  h3 Tablets
                  h4 We will buy old tablets as well
              img.img-responsive(src='images/portfolio/work-4.jpg', alt='')
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./camera')
              .caption
                .caption-content
                  h3 Camera
                  h4 Contact us to sell old cameras
              img.img-responsive(src='images/portfolio/work-5.jpg', alt='')
          .col-sm-6.portfolio-item
            a.portfolio-link(href='./others')
              .caption
                .caption-content
                  h3 Any other gadgets
                  h4 Let us know
              img.img-responsive(src='images/portfolio/work-6.jpg', alt='')
    // portfolio grid section
    // service section
    section#service.service.section
      .container
        .row
          .col-md-5.col-sm-6
            h4 We're the e-Junk recycling specialists.
            
          .col-md-7.col-sm-6
            .col-md-4.col-sm-6.service.text-center
              span.icon.icon-browser
              .service-content
                h5 Buying old gadgets
            .col-md-4.col-sm-6.service.text-center
              span.icon.icon-trophy
              .service-content
                h5 Recycling
            .col-md-4.col-sm-6.service.text-center
              span.icon.icon-megaphone
              .service-content
                h5 Selling to big Junkyards
    // service section
    // footer section
    footer.footer
      .container
        .col-md-6.left
          h4 Let's work together
          p
            | Call: 8668362675 OR Email : 
            a(href='mailto:hello@agency.com')  abhilasha.jha2015@vit.ac.in 
        .col-md-6.right
          p
            | © 2017 All rights reserved.
            br
            |         Made with 
            i.fa.fa-heart.pulse
            |  by 
            a(href='http://www.abhilasha-96.github.io/') Abhilasha Jha
    // footer section
    // JS FILES
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='./javascripts/bootstrap.min.js')
    script(src='./javascripts/jquery.fancybox.pack.js')
    script(src='./javascripts/retina.min.js')
    script(src='./javascripts/modernizr.js')
    script(src='./javascripts/main.js')
